button {
    margin:5px;
    padding:10px;
}


#searchaccommodation {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    border-radius: 5px;
}



#addaccommodation {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    border-radius: 5px;
}