#registerdiv {
    position: relative;
    padding: 50px, 0px, 50px;
    width: 400px;
    background-color: rgba(4,0,18,0.8);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(4, 0, 18, 0.8) inset,-10px -10px 10px rgba(4, 0, 18, 0.8) inset;
    text-align: center;
    float: left;
  }
  h4 {
    color: rgba(255,255,255,0.8)
  }
  #userNameRegister, #emailRegister, #passwordRegister {
    text-align: center;
    color: white;
    background-color: rgba(255,255,255,0.15);
    border: none;
    width: 80%;
    height: 35px;
    border-radius: 25px;
    box-shadow: -2px -2px 5px rgba(4, 0, 18, 0.4) inset;
    margin-bottom: 20px;
  }
  #userNameRegister {
    margin-bottom: 20px;
  }
  #emailRegister {
    margin-bottom: 20px;
  }
  #passwordRegister {
    margin-bottom: 5px;
  }
  #registerdiv-content {
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgba(255,255,255,0.6);
  }
  #checkbox {
    border-radius: 25px;
  }
  #bar {
    border: 0.5px solid rgba(255,255,255,0.15);
    width: 10%;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #registerbutton {
    background-color: rgba(255,255,255,0.8);
    border: none;
    margin-top: 10px;
    width: 80%;
    height: 35px;
    border-radius: 25px;
    color: rgba(4, 0, 18, 0.8);
    font-size: 1.2em;
    font-weight: bolder;
    box-shadow: -2px -2px 5px rgba(4, 0, 18, 0.5) inset;
  }