button {
    margin:5px;
    padding:10px;
}

#searchrestaurant {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    border-radius: 5px;
}



#addrestaurant {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    border-radius: 5px;
}